.week, .day-labels{
  display: flex;
  justify-content: space-evenly;
}
.week{
  border-bottom: black solid 1px;
}
.day{
  cursor: pointer;
  border-left: black solid 1px;
  min-width: 100px;
  min-height: 100px;
}
.month{
  max-width: 708px;
}
.today{
  background-color: pink;
}
.selected{
  background-color: lightcoral;
}
.calendar{
}

.calendar-block{
  border: black solid 1px;
}