.week, .day-labels{
  display: flex;
  justify-content: space-evenly;
}
.day{
  cursor: pointer;
}
.week{
  border-bottom: black solid 1px;
}
.day{
  border-left: black solid 1px;
  min-width: 100px;
}

.today{
  background-color: pink;
}
.selected{
  background-color: lightcoral;
}

.calendar-block{
  border: black solid 1px;
}