.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.modal-child {
  position: relative;
  margin: auto;
  top: 20%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.appointment{
  display: flex;
  flex-direction: column;
  form{
    display: flex;
    flex-direction: column;
    
  }
  h1{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    align-items: center;
    
  }
  background-color: white;
  width: 500px;
  padding: 50px;
  border:black 2px solid;
}

.submit-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  color: white;
  background-color: #028858;
  padding: 12px;
  font-size: 16px;
  border-style: none;
  border-radius: 5px;
  text-align: center;
  width: 25%;
  margin-top: 10px;
}

.submit-button:hover{
  background-color:#015738;
}