.app{
  display: flex;
  flex-direction: column;
  div{
    margin: auto;
    width: 100%;
    height: 100px;
  }
}
button{
  cursor: pointer;
}

header{
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: auto;

}