.app{
  display: flex;
  flex-direction: column;
  div{
    margin: auto;
    width: 100%;
  }
}

button{
  cursor: pointer;
}

header{
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: auto;
  height: 75px;
  align-items: center;
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 20px;
  }
}
.footer{
  padding-top: 15px;
  max-width: 708px;

}